
body{
  margin: 0px;
  background-color: rgb(122, 122, 122);

  background-repeat: no-repeat;
  background-size: cover;  
  }
  
  .navbar {
      overflow: hidden;
      background-color: #333;
      font-family: Arial;
      padding: 5px;
    }
    
    
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    /* Przycisk*/
    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; 
      margin: 0; 
    }
    
   
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: rgb(116, 116, 116);
      border-radius: 15px;
      margin-left: 5px;
    }
    
  
    .Anime {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 2;
    }
    
  
    .Anime a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
  
    .Anime a:hover {
      background-color: #ddd;
    }
    
  
    .dropdown:hover .Anime{
      display: block;
    }
   textarea
  {
    background-image: url(Notatki/assets/image/tlotext.jpg);
    background-size: 100%;
    opacity: 0.7  ;
    background-repeat: no-repeat;
    resize: none;
    border-radius: 20px;
    color: white;
    z-index: 1;
  }
  #Nazwa
  {
   
        height: 30px;
        width: 850px;
    border-width: 3px;
    border-radius: 15px;
    border-color: #b7c4d1;
    
  
    border-radius: 8px;

  }
  #button
  {
    
    border-color:#b7c4d1 ;
      border-radius: 5px;
      height: 37px;
      width: 100px;
  
  }
 
 .Logo
 {
   height: 50px;
   width: 50px;
   float: left;
 }
.Notkanadole
{
  font-size: xx-large;
  text-align: center;
  opacity: 0.7;
  margin-top: 100px;
  color: rgb(0, 0, 0);
  background-color: #ddd;
  border-radius: 100px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
