
body{
  margin: 0px;
  background-color: rgb(122, 122, 122);

 
}
nav{
  position: sticky; top: 0;
  height: 10px;
  background-color: #333;
  
}


.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    padding: 10px;
    
  }
  
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
    
  }
    /* Przycisk*/
    .dropdown .dropbtn {
      font-size: 16px;
      border-color: #ffffff;
      border-radius:16px ;
      border-width: 3px;
      color: rgb(255, 255, 255);
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; 
      margin: 0; 
      z-index: 3;
    }
 
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:  rgb(107, 107, 107);
    border-radius: 15px;
    border-width: 10px;
    border-color: #333;
    border:solid;
      
  }nav {
    position: sticky; top: 0;
  }
  

  .Anime {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 125px;
    box-shadow: 0px 7px 15px 0px rgb(80, 78, 78);
    z-index: 2;
    border-radius: 20px;
    text-align: center;
    border-color: rgba(255, 255, 255, 0);
    border-style: groove;
    border: hidden;
  }
  

  .Anime a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  .Anime a:hover {
    background-color: rgb(102, 102, 102);
  }
  

  .dropdown:hover .Anime{
    display: block;
  }
  .Logo
  {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 40px;
  }
  .Stronag
  {
    
    margin-right: 10px;
  }
  .Notaty
  {
    margin-right: 10px;
  }





   textarea
  {
    background-image: url(Notatki/assets/image/tlotext.jpg);
    background-size: 100%;
    opacity: 0.7  ;
    background-repeat: no-repeat;
    resize: none;
    border-radius: 20px;
    color: white;
    margin-top: 100px;
  }

 .Logo
 {
   height: 40px;
   width: 40px;
   float: left;
   margin-right: 40px;
 }
.Notkanadole
{
  font-size: xx-large;
  text-align: center;
  opacity: 0.7;
  margin-top: 100px;
  color: rgb(0, 0, 0);
  background-color: #ddd;
  border-radius: 100px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#button
  {
    
    border-color:#b7c4d1 ;
      border-radius: 5px;
      height: 37px;
      width: 100px;
  
  }
  #Nazwa
  {
   
        height: 30px;
        width: 850px;
    border-width: 3px;
    border-radius: 15px;
    border-color: #b7c4d1;
    
  
    border-radius: 8px;

  }
  nav ul {
    -webkit-font-smoothing:antialiased;
    text-shadow:0 1px 0 #FFF;
      background: #ddd;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
  }

  nav a {
      background: rgba(236, 233, 233, 0);
      color: #444;
      display: block;
      
      text-align: center;
      text-decoration: none;
      -webkit-transition: all .25s ease;
         -moz-transition: all .25s ease;
          -ms-transition: all .25s ease;
           -o-transition: all .25s ease;
              transition: all .25s ease;
  }
  nav #dropdown:after {
      content: ' ▶';
  }
  nav #dropdown:hover:after{
    content:'\25bc'
  }

  * {
    box-sizing: border-box;
  }
  
  main {
    width: 800px;
    border: 1px solid #000000;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    padding: 20px;
    background-color: rgb(92, 92, 92);
    border-radius: 10px;
  }
  
  
  
  .colors {
    background-color: #a8a8a8;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
  }
  
  .colors button {
    display: inline-block;
    border: 2px solid #00000026;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    padding: 5px;

  }
  
  .colors button:nth-of-type(1) {
    background-color: #0000ff;
  }
  
  .colors button:nth-of-type(2) {
    background-color: #009fff;
  }
  
  .colors button:nth-of-type(3) {
    background-color: #0fffff;
  }
  
  .colors button:nth-of-type(4) {
    background-color: #bfffff;
  }
  
  .colors button:nth-of-type(5) {
    background-color: #000000;
  }
  
  .colors button:nth-of-type(6) {
    background-color: #333333;
  }
  
  .colors button:nth-of-type(7) {
    background-color: #666666;
  }
  
  .colors button:nth-of-type(8) {
    background-color: #999999;
  }
  
  .colors button:nth-of-type(9) {
    background-color: #ffcc66;
  }
  
  .colors button:nth-of-type(10) {
    background-color: #ffcc00;
  }
  
  .colors button:nth-of-type(11) {
    background-color: #ffff00;
  }
  
  .colors button:nth-of-type(12) {
    background-color: #ffff99;
  }
  
  .colors button:nth-of-type(13) {
    background-color: #003300;
  }
  
  .colors button:nth-of-type(14) {
    background-color: #555000;
  }
  
  .colors button:nth-of-type(15) {
    background-color: #00ff00;
  }
  
  .colors button:nth-of-type(16) {
    background-color: #99ff99;
  }
  
  .colors button:nth-of-type(17) {
    background-color: #f00000;
  }
  
  .colors button:nth-of-type(18) {
    background-color: #ff6600;
  }
  
  .colors button:nth-of-type(19) {
    background-color: #ff9933;
  }
  
  .colors button:nth-of-type(20) {
    background-color: #f5deb3;
  }
  
  .colors button:nth-of-type(21) {
    background-color: #330000;
  }
  
  .colors button:nth-of-type(22) {
    background-color: #663300;
  }
  
  .colors button:nth-of-type(23) {
    background-color: #cc6600;
  }
  
  .colors button:nth-of-type(24) {
    background-color: #deb887;
  }
  
  .colors button:nth-of-type(25) {
    background-color: #aa0fff;
  }
  
  .colors button:nth-of-type(26) {
    background-color: #cc66cc;
  }
  
  .colors button:nth-of-type(27) {
    background-color: #ff66ff;
  }
  
  .colors button:nth-of-type(28) {
    background-color: #ff99ff;
  }
  
  .colors button:nth-of-type(29) {
    background-color: #e8c4e8;
  }
  
  .colors button:nth-of-type(30) {
    background-color: #ffffff;
  }
  

  
  .brushes button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: #c0baba;
    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .brushes button:after {
    height: 1px;
    display: block;
    background: #10b4ac;
    content: '';
  }
  
  .brushes button:nth-of-type(1):after {
    height: 1px;
  }
  
  .brushes button:nth-of-type(2):after {
    height: 2px;
  }
  
  .brushes button:nth-of-type(3):after {
    height: 3px;
  }
  
  .brushes button:nth-of-type(4):after {
    height: 4px;
  }
  
  .brushes button:nth-of-type(5):after {
    height: 5px;
  }
  
  .buttons {
    height: 80px;
    padding-top: 10px;
  }
  
  .buttons button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: #2a2a2a;
    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color:white;
  }
  
  .right-block {
    width: 640px;
  }
  
  #paint-canvas {
    cursor:crosshair;
  }
  
  canvas 
  {
    background-color: white;
    margin-left: 10px;
    border-radius: 5px;
  }