body
{
    background-image:url(assets/Demon-Slayer-Computer-Wallpaper.jpg);
    background-attachment: fixed;
    margin: 0px;
    background-size: 100%;
   
}
img{
    margin-top: 20px;
    margin-bottom: 20px;
}


a{
	color: rgb(255, 255, 255);
	text-decoration: none;
    
}





picture
{
  text-align: center;
}
nav{
    position: sticky; top:0;
    font-family: 'Teko', sans-serif;
}

.koncuwa
{
    margin-bottom: 100px;
}
.porwot
{
    position: sticky; top: 5px;
}
.prawygu
{
    
float: right;
border-radius: 5px;
background-color:rgba(3, 3, 3, 0.668) ;
height: 40px;
width: 170px;
font-family: 'Patrick Hand', cursive;
font-size: 20px;
margin-top: 20px;
border-color: rgb(255, 255, 255);
margin-right: 20px;
}
.lewygu
{
    float: left;
    border-radius: 5px;
    background-color:rgb(255, 255, 255) ;
    height: 40px;
    width: 170px;
    font-family: 'Patrick Hand', cursive;
    font-size: 21px;
    margin-top: 20px;
    border-color: rgb(79, 79, 79);
    margin-left: 20px;
    color: rgb(255, 255, 255);
}