body 
{
    background-image: url(tło.jpg);

}


textarea {
    resize: none;
  }
textarea:invalid {
  border: 12px solid rgb(0, 0, 0);
}

textarea:valid {
   border: 2px solid rgb(0, 0, 0);
}
textarea {
    background-image: url("tło.jpg");
    width: 800px%;
    height: 600px%;
  }
 