body 
{
    background-image: url(assets/image/cherry-blossom-anime-girls-guitar-trees-sky-clouds-1606277-wallhere.com.jpg);
background-repeat: no-repeat;
background-size: 100%;
}


textarea {
    resize: none;
  }
textarea:invalid {
  border: 12px solid rgb(0, 0, 0);
}

textarea:valid {
   border: 2px solid rgb(0, 0, 0);
}
textarea {
    background-image: url("assets/image/anime.jpg");
    background-repeat: no-repeat;
    opacity:0.7;
    background-size: 100%;
    border-radius: 4px;
    
  }

  h2{
font-size: 50;
font-style: unset;
color: rgb(0, 119, 255);
}




    
    
    
    button 
    {
      height: 37px;
      
      font-size: smaller;
      width: 100px;
      color: rgb(0, 0, 0);
      border-color: rgb(25, 126, 156);
      border-radius: 4px;
    }
    
    
    
    input
    {
      width:685px ;
      border-color: rgb(33, 145, 160);
      border-radius: 4px;
      height: 31px;
    }

    #JD
    {
      background-color: rgb(255, 255, 255);
      height: 37px;
      
    }
    
    
    table
    {
    border: 3;
    border-radius: 4px;
    border-color: rgb(33, 145, 160);
    
    }
    


    td
    {
    border: 0px solid black;
    }