body 
{
    background-image: url(assets/image/cherry-blossom-anime-girls-guitar-trees-sky-clouds-1606277-wallhere.com.jpg);
background-repeat: no-repeat;
background-size: 100%;
}


textarea {
    resize: none;
  }
textarea:invalid {
  border: 12px solid rgb(0, 0, 0);
}

textarea:valid {
   border: 2px solid rgb(143, 230, 182);
}
textarea {
    background-image: url("assets/image/anime.jpg");
    background-repeat: no-repeat;
    opacity:0.7;
    background-size: 100%;
    border-radius: 10px;
    border-width: px;
  }

  h2{
font-size: 50;
font-style: unset;
color: rgb(51, 19, 73);
}




    
    
    
    button 
    {font-size: larger;
      height: 47px;
      width: 180px;
      color: rgb(0, 0, 0);
      border-color: rgb(143, 230, 182);
      border-radius: 0px;
      border-width: 5px;
    }
    
    
    
    input
    {
      font-stretch: expanded;
      font-family: sans-serif;
      font-size: larger;
      width:674px ;
      border-color: rgb(143, 230, 182);
      border-width: 5px;
      border-radius: 0px;
      height: 35px;
    }

    #JD
    {
      width: 180px;
      background-color: rgb(255, 255, 255);
      height: 47px;
      border-radius: 0px;
    }
    
    
    table
    {
    
      border-radius:20px ;
    border-color: rgb(143, 230, 182);
    border-width: 0
    ;
    
    }
    


    td
    {
    border: 0px solid black;
    }
    #muza
    {
      
background-color: rgb(155, 162, 224);
border-color: rgb(131, 216, 143);
border-radius: 1px;
border-width: 10px;


    }