body
{
    background-image:url(assets/Demon-Slayer-Computer-Wallpaper.jpg);
    background-attachment: fixed;
    margin: 0px;
}
#lista_odc
{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: rgba(34, 34, 34, 0.67);
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color: white;

    
}
ul{
    margin-left:0px;
    margin-right: 25px;
}
dt{
    margin-left: 5px;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    border: 1px solid darkgray;
    width: 400px;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    color: white;
}
a:hover{
	color: rgb(255, 0, 0);
}
a{
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.historia-mieczzabu
{
    background-color: rgba(34, 34, 34, 0.67);
    width: 500px;
    margin-left:auto ;
    margin-right:auto ;
    padding: 10px;
    margin-top: 20px;
    height: 500px;
}
p{
font-family: 'Teko', sans-serif;;
font-size: 70px;
}
#nazwazabu
{
    font-size: 30px;
    color: white;
}
.histozabu1
{
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: white;
}
.histozabu2
{
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: white;
}
picture
{
  text-align: center;
}
nav{
    position: sticky; top:0;
}
img
{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10PX;
}
.koncuwa
{
    margin-bottom: 100px;
}