body
{
    background-image:url(../assets/image/Tło/HxH/wp4015696-hunter-hunter-the-last-mission-wallpapers.jpg);
    background-attachment: fixed;
    margin: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    
   
}
#lista_odc
{
    padding: 20px;
    margin-left: 1200px;
   
    width: 500px;
    background-color: rgba(135, 93, 168, 0.222);
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    border: solid 3px rgb(179, 0, 255);
    border-top: 0px;
    border-bottom: 0px;
    
    
}
ul{
    margin-left:0px;
    margin-right: 25px;
}
dt{
    margin-left: 5px;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    width: 400px;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    color: rgb(0, 0, 0);
}

a{
	color: rgb(0, 0, 0);
	text-decoration: none;
}

a:visited{
	color: rgb(0, 0, 0);
}
a:hover{
	color: rgb(247, 150, 244);
}
.historia-hunterka
{
    background-color: rgba(0, 0, 0, 0.743);
    width: 500px;
 
    
    padding: 10px;
   
    height: 550px;
    float: left;
    position: -webkit-sticky;
    position: sticky;
  top: 25px;
  border-radius: 10px;
  border: solid 3px rgb(179, 0, 255);
  transition: all 0.3s;
   
}
.historia-hunterka:hover{
    margin-top: -15px;
      box-shadow: rgba(185, 90, 226, 0.4) 0px 5px, rgba(185, 90, 226, 0.3) 0px 10px, rgba(185, 90, 226, 0.2) 0px 15px, rgba(185, 90, 226, 0.1) 0px 20px, rgba(185, 90, 226, 0.05) 0px 25px;
  }
p{
font-family: 'Teko', sans-serif;;
font-size: 70px;
color: rgb(255, 255, 255);
}
#nazwahunte
{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Teko', sans-serif;
}
.histohunte1
{
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.histohunte2
{
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
picture
{
  text-align: center;
}
nav{
    position: sticky; top:0;
}
img
{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10PX;
}
.koncuwa
{
    margin-bottom: 100px;
}
.porwot
{
    position: sticky; top: 25px;
    
}
.Homebut
{
    height: 72px;
    width: 300px;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    border-color: rgb(179, 0, 255);
    border-radius: 10px;
    border-width: 3px;
    background-color: rgba(255, 255, 255,0.468);
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    position: sticky;
    top: 25px;
    color: rgba(185, 90, 226, 0.728);
    transition: all 0.4s;
    
}

.Homebut1
{
    height: 80px;
    width: 525px;
   
    margin-top: 25px;
    align-items: center;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    border-width: 5px;
    background-color: rgb(255, 0, 0);
    font-family: 'Teko', sans-serif;
    font-size: 60px;
  
    top: 25px;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    
    
}
.Homebut1:focus
{
    margin-top: 20px;
}
.homeinfo
{
   

    width: 500px;
    margin-left:150px ;
    float: left;
 

    height: 545px;
    margin-top: 150px;
   
    position: -webkit-sticky;
    position: sticky;
  top: 25px;

  

}
.Homebut:hover
{
    background-color: aliceblue;
    color: black;
    border-color: rgb(0, 0, 0);
    transform: scale(1.05) ;
   
}
.Homebut:focus
{
  
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: rgb(0, 0, 0);
  margin-top: 20px;
    box-shadow: rgba(149, 0, 255, 0.4) -5px 5px
    
}


